@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400;1,800&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
    font-size: 1.6rem;
  
    
}
