
$primay-color : #f97805;
 $secondary-color: #432817;
$promary-light-color: lighten($primay-color, 50%);
$text-color: #fff;
$text-color-light-black: #404040;
$text-color-menu: #333;
$bg-color-1:  #f3f3f3;
$bg-color-2:  #fff3e6;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto Mono', monospace;
$font-family-header: 'Poppins', sans-serif;
$font-family-normal: 'Roboto Mono', monospace;

