  @import 'base/index';

   @import 'layout/index';

   body {
    background-color: #ccc;
   }

   .container {
    width: 400px;
    margin: 0 auto;
    box-shadow: 3px 5px 6px 10px gray;
    border-radius: 10px;
    margin-top: 20px;
   }

   .header {
    background-color: lightblue;
    height: 100px;
    position: relative;
    padding: 1rem;
    .clear {
      display: flex;
      justify-content: end;
      cursor: pointer;
    }
    .date {
      background-color: black;
      color: white;
      position: absolute;
      bottom: 0;
      background-color: lightcoral;
      width: 89%;
      text-align: center;
    }
   }
   .content {
    background-color: whitesmoke;
    position: relative;
    height: 400px;
    .item{
      display: flex;
      justify-content: space-between;
      padding: .8rem;
      border-bottom: 2px solid #ccc;
    }
    .add-item{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      justify-content: space-between;
      display: flex;
      justify-content: space-between;
      padding: 0 3rem;
      font-size: 3rem;
      align-items: center;
      .input {
        width: 400px;
        margin-left: 1rem;
        padding: .3rem;
      }
      margin-bottom: 2rem;
    }

   }
   .fa-solid,.fa-regular {
    cursor: pointer;
    color: black;
   }

   .fa-solid:hover, .fa-regular:hover {
     color: lighten(black, 40);
     
   }